.create_form > Input, TextArea{
    margin: 10px auto;
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #f1eaea;
}
.create_input{
    padding: 5px;
}
select{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  
}
