.login_form{
    /* border: 1px solid red; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login_form input{
    width: 80%;
    margin: 10px auto;
    padding: 0.8rem;
    border-radius: 0.2rem;
    background-color: #F6F1F1;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* .submit{
    background-color: #5D9C59;
    color: white;
    font-size: 1rem;
    cursor: pointer;
} */
.login_form > h1{
    margin:0 0 0.9rem 0;
    color: #183A1D;
}
.login_link{
    text-decoration: none;
    color: #635985;
    font-weight: bold;
}